* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #0F0F0F;
    color: #FFFFFF;
}

/* HEADER */
header {
    background-color: #4B0082;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: #FFFFFF;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 20px;
    transition: 0.3s;
}

nav a:hover {
    color: #8A2BE2;
}

/* HERO */
.hero {
    text-align: center;
    padding: 100px 20px;
}

.hero h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.hero button {
    background-color: #6A0DAD;
    color: #FFFFFF;
    border: none;
    padding: 12px 25px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.hero button:hover {
    background-color: #8A2BE2;
}

/* CARDS */
.info {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px 20px;
    flex-wrap: wrap;
}

.card {
    background-color: #1C1C1C;
    padding: 30px;
    width: 250px;
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    background-color: #6A0DAD;
}

/* FOOTER */
footer {
    background-color: #4B0082;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}
